/* Style rule for input,select, and textarea form elements */
input,select,textarea{
    /* display: block; */
    margin-bottom : 1em;
    font-family: cursive, Helvetica, sans-serif;
}
/* Style rule for label element */
label{
    display: block;
}
/* Style rule for radio button element */
.inpRadio{
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
}
/* Style rule for unordered list within a form */
form ul{
    list-style-type:none;
}
.chkbx{
    display:inline-block;
}
/*Style rule for desktop viewport */
form{
    background-color:#FFFFFF;
    padding: 1em;
}
/* Style rule for paragraph with form element */
form p{
    color: #000000;
}
legend {
    color: blue;
    font-weight: bold;
    font-size: 85%;
    margin-bottom: .5em;
}
/* Style for form fieldset element */
fieldset {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .5em;
    border: 2px groove (internal value);
  }
label.error {
    color: rgb(235, 11, 11);
    font-size: 87.5%;
}