table{
    border: 0.1em solid #000000;
    border-collapse: collapse;
    margin-left :auto;
    margin-right:auto;
    width:100%;
    border-style: dashed;
}
th,td{
    border:0.1em solid #000000;
    padding: 1em;
}
/*Style for th element */
th{
    background-color: #1d1d1c;
    color:#ffffff
}
/* Stylr for th hover element */
th:hover{
    background-color: cornflowerblue;
}
/* Style for tr hover element  */
tr:nth-child(even){
    background-color: cornsilk;
}
tr:nth-child(odd){
    background-color: darkgray;
}
tr:hover{
    background-color: cornflowerblue;
}
table img{
    border-radius: 20%;
}
/*Style for caption element */
caption{
    font-size: 1.5em;
    font-weight:bold;
    padding-bottom:0.5em;
}